@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #ff0077;
  --secondary-color: #131417;
}
* {
  margin: 0;
  padding: 0;
}
a:-webkit-any-link {
  text-decoration: none !important;
}
html,
body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #131417;
  color: #fff;
}
.padding-md {
  padding: 2rem 0 5rem 0;
}

/* header */
.hero {
  padding: 2rem;
  padding-top: 5rem;
}
.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}
.heading-inverted {
  color: var(--primary-color);
  padding: 1rem;
}
/* container */
.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}
/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 1rem 3.5rem;
  display: inline-block;
  margin: 0.5rem;
}
.link:hover {
  color: var(--primary-color);
}
.link-primary {
  border: 3px solid #fff;
  background-color: var(--secondary-color);
  font-weight: 500;
  color: #fff;
}
.link-secondary {
  border: 3px solid #fff;
  color: #fff;
  font-weight: 500;
}

/* button */
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  border: 2px solid gray;
  color: #fff;
  margin-top: 5rem;
  font-size: large;
}
.btn:hover {
  border: 2px solid var(--primary-color);
}
.btn .fa-solid {
  padding-left: 2rem;
}

/* lists */
.list-non-bullet {
  text-decoration: none;
}

.list-item-inline {
  display: inline;
  padding: 0.5rem;
}

/* nav */
.navigation {
  background: #131417;
  color: #fff;
}
.navigation .nav-brand {
  padding-top: 10px;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.navigation .nav-brand p {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.navigation .nav-pills {
  text-align: right;
  padding-bottom: 10px;
  margin-left: 8rem;
}
.navigation .link {
  color: var(--primary-color);
}
.navigation .link:hover {
  color: #fff;
}
/* section */
.section {
  margin: 2rem;
  padding: 3rem 0;
}
/* footer */
.footer {
  background: #131417;
  text-align: center;
  padding: 2rem 0;
  color: #fff;
  position: sticky;
  top: 100%;
}
.footer .footer-header {
  padding-bottom: 1rem;
}
.footer .link {
  color: var(--primary-color);
  padding: 1rem 2rem;
}
.footer .fa-brands {
  font-size: 2rem;
}

/* home page  */

/* intro section */

.intro {
  background: #131417;
  text-align: center;
  height: 100vh;
}
.intro h5 {
  font-size: 2rem;
  color: var(--primary-color);
  padding-top: 2rem;
}
.intro h1 {
  font-size: 5.5rem;
  color: #fff;
  padding: 5px;
}
.intro p {
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #ffffff;
  text-shadow: 0 0 6px rgb(0 0 0 / 20%);
}
/* socials */
.intro .socials {
  margin-top: 3rem;
}
.intro .fa {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  padding: 0 2rem;
  margin-top: 2rem;
}
.intro .fa:hover {
  color: var(--primary-color);
}
/* about section */
.about {
  text-align: center;
}
.about .intro-section {
  height: 100vh;
  padding: 5rem;
}
.about .projects-showcase {
  margin-top: 1rem;
}
.about i {
  padding: 1rem;
  font-size: 4rem;
}
.about .tech-heading {
  padding: 2rem;
  color: var(--primary-color);
  font-size: 2rem;
}
.projects-heading {
  color: var(--primary-color);
  padding: 1rem;
}
.blogs-showcase {
  padding-top: 1rem;
}
.about .blogs-heading {
  color: var(--primary-color);
  padding-bottom: 1rem;
}
.about p {
  padding-bottom: 1rem;
}

/* .about i {
  font-size: 4rem;
  padding: 1rem;
} */

/* projects */
.projects {
  text-align: center;
}
.projects p {
  padding-bottom: 1rem;
}

.projects .link:hover {
  color: var(--primary-color);
}
.projects .link {
  border: 2px solid #eeedee;
}
/* blogs */
.blogs {
  text-align: center;
}
